/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: grey;
    opacity: 1;
    text-align: left;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: grey;
    text-align: left;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: grey;
    text-align: left;
}